// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// * {
//   border: solid red 2px;
// }

.letters div {
  display:inline-block;
  text-align: center;
  background-color: rgb(123, 195, 171);
  width: 50px;
  height: 50px;
  border: 1px solid darkgrey;
  padding: 10px;
  margin: 5px;



}
